*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
body{
  background: black;
}

h1,h4,p,a{
  color: whitesmoke;
  text-decoration: none;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  color: #222;
  border: 1px solid #fff;
  font-weight: 600 ;
  cursor: pointer;
}

.btn:hover{
  background: transparent;
  color: antiquewhite;
  transition: 0.3s;
}

.btn-light{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600 ;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.btn-light:hover{
  background: rgb(248, 217, 15);
  color: #090101;
  transition: 0.3s;
}

.btn-light:active {
  background: transparent;
  color:antiquewhite /* This gives feedback when the button is pressed */
}

